/* CSS Variables */
:root {
  --primary-color: #1b1464;
  --secondary-color: #f2f2f2;
  --max-width: 1100px;
}

/* Global CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  src: url(../fonts/Carnevalee\ Freakshow.ttf);
  font-family: Carnevalee Freakshow;
}
@font-face {
  src: url(../fonts/Futura\ Medium.otf);
  font-family: FuturaMedium;
}
@font-face {
  src: url(../fonts/open-sans.regular.ttf);
  font-family: OpenSans;
}
body {
  background: var(--secondary-color);
}
img {
  width: 100%;
}
h1 {
  color: var(--primary-color);
  font-family: Carnevalee Freakshow;
  text-align: center;
  font-size: 5rem;
}
p {
  margin: 0.5rem;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}
.margin-top {
  margin-top: 3rem;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 30%;
}

/* Main Navigation */
.main-nav {
  border-bottom: solid 3px #929292;
}
.nav-links {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.a-link {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: FuturaMedium;
  color: #929292;
  margin: 1rem;
}

.main-nav ul li a.current {
  color: var(--primary-color);
}
.main-nav ul li a:hover {
  color: var(--primary-color);
}
.toggler {
  opacity: 0;
}

/* Home Image Slideshow */
.slider-container {
  position: relative;
  margin: 2rem auto;
}
.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-top: 1rem;
}

.column {
  float: left;
  width: 25%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Payment Section */
.flex-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-item {
  max-width: 300px;
  text-align: center;
}
.zelle-number {
  text-align: center;
}

.fab {
  color: var(--primary-color);
}

/* Footer Section */
footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem;
}
.footer {
  text-align: center;
}
