/* CSS Variables */
:root {
  --primary-color: #1b1464;
  --secondary-color: #f2f2f2;
  --max-width: 1200px;
}

/* Global CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 96%;
}
@font-face {
  src: url(../fonts/Carnevalee\ Freakshow.ttf);
  font-family: Carnevalee Freakshow;
}
@font-face {
  src: url(../fonts/Futura\ Medium.otf);
  font-family: FuturaMedium;
}
@font-face {
  src: url(../fonts/open-sans.regular.ttf);
  font-family: OpenSans;
}
body {
  background: var(--secondary-color);
  font-family: OpenSans;
  color: #4a4a4a;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
h1 {
  color: var(--primary-color);
  font-family: Carnevalee Freakshow;
  text-align: center;
  font-size: 5rem;
}
h4 {
  font-family: FuturaMedium;
}
h3 {
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 0.75rem 0;
  font-size: 1.3rem;
}
strong {
  font-family: FuturaMedium;
}
.margin-top {
  margin-top: 1rem;
}
.show-non {
  visibility: hidden;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}
.margin-top {
  margin-top: 3rem;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 30%;
}

/* Main Navigation */
.main-nav {
  border-bottom: solid 1px #929292;
  max-height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.a-link {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: FuturaMedium;
  color: #929292;
  margin: 0 6.5rem;
}

.main-nav ul li a.current {
  color: var(--primary-color);
}
.main-nav ul li a:hover {
  color: var(--primary-color);
}
.toggler {
  opacity: 0;
}

/* Home Image Slideshow */

.slider-container {
  position: relative;
  margin: 2rem auto;
}

.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-top: 1rem;
}

.column {
  float: left;
  width: 25%;
  padding: 0.5rem;
}

.demo {
  opacity: 0.6;
  border-radius: 5px;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Payment Section */
.flex-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-item {
  max-width: 300px;
  text-align: center;
  margin: 1rem;
}
.payment-scan-icon {
  border-radius: 10px;
}
.fab {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.tiktok {
  margin-bottom: 1.7rem;
}

/* Contact Section */
.contact-container {
  display: flex;
  justify-content: space-between;
}
.contact-item {
  font-size: 1.5rem;
}
.list-items {
  margin: 0.5rem 0;
}

/* Photo Gallery Section */
.gallery-items {
  margin-top: 3rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.img-gallery {
  border-radius: 10px;
}

/* Footer Section */
footer {
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
}
.footer-container {
  margin-top: 15.5rem;
}
.footer {
  text-align: center;
}
.phone {
  color: #fff;
}
